* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.country-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.country-list__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.country-list__name {
  margin: 0;
  font-size: 2rem;
}

.country-info__name {
  margin: 0 0 2rem 0;
  font-size: 4rem;
  font-weight: 500;
}

.country-info__name img {
  margin-right: 1rem;
}

.country-info__desc {
  margin: 0 0 0.5rem 0;
  font-size: 2rem;
}

.country-info__value {
  margin-right: 0.5rem;
  font-weight: 700;
}